Django>=3.2,<4.0
djangorestframework>=3.12,<4.0
gunicorn>=20.1,<21.0
django-cors-headers>=3.10,<4.0
psycopg2-binary>=2.9,<3.0
django-environ>=0.8,<1.0
celery>=5.2,<6.0
redis>=4.0,<5.0
django-extensions>=3.1,<4.0
hash_ring
locust
dj-database-url